@font-face {
    font-family: 'iconfont';  /* Project id 3455940 */
    src: url('//at.alicdn.com/t/font_3455940_vjgekqxuzeh.woff2?t=1654598787928') format('woff2'),
    url('//at.alicdn.com/t/font_3455940_vjgekqxuzeh.woff?t=1654598787928') format('woff'),
    url('//at.alicdn.com/t/font_3455940_vjgekqxuzeh.ttf?t=1654598787928') format('truetype');
}


.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}